extends layout

block content
  h1 Builds
  table
    tr.pass
      td 1
      td Jenkins
      td AgentMessageGeneratorJava
      td That's some serious tuition
    tr.fail
      td 1
      td Jenkins
      td AgentMessageGeneratorJava
      td 3 vulnerabilites found for SEVERE and the threshold is 2
    tr.pass
      td 1
      td Travis
      td AgentMessageGeneratorNode
      td That's some serious tuition
    tr.pass
      td 1
      td Jenkins
      td AgentMessageGeneratorJava
      td That's some serious tuition
    tr.pass
      td 1
      td Jenkins
      td AgentMessageGeneratorJava
      td That's some serious tuition
    tr.pass
      td 1
      td Jenkins
      td AgentMessageGeneratorJava
      td That's some serious tuition
